:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        /*agregando gradientes*/
        background: #108dc7;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Sección de entrada */
.input-section {
    backdrop-filter: blur(10px); /* Desenfoque para el efecto moderno */
    background: rgba(255, 255, 255, 0.3); /* Fondo translúcido */
    
    /* Degradado suave */
    background: linear-gradient(to right, rgba(234, 234, 234, 0.5), rgba(219, 219, 219, 0.5), rgba(242, 242, 242, 0.5), rgba(173, 169, 150, 0.5));

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Borde ligero */

    flex: 60%;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-weight: 300;
    font-family: "Merriweather", sans-serif;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: black;
    margin: 10px 0;
    text-align: center;
}


/* Input */
.input-wrapper {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    justify-content: space-between;
}


.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

/* Botones */
.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
    transform: scale(1.05);
}

/* Botón sortear */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
    margin-top: 20px; /* Se añadió margen superior */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button-draw img {
    margin-right: 10px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
    transform: scale(1.05);
}

.button-draw:disabled {
    background-color: var(--color-tertiary);
    cursor: not-allowed;
    opacity: 0.5;
}


/* Lista de amigos ingresados */
.lista-amigos {
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

/* Lista de resultados */
.result-list {
    display: none;
    padding: 0;
    margin-top: 20px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    text-align: center;
    animation: fadeIn 1s ease-in-out forwards;
}

.result-list.mostrar {
    display: block;
}

/* Estilo de los resultados */
.result-item {
    background-color: var(--color-secondary);
    color: var(--color-text);
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}


/* Estilos para los nombres en la lista */
.amigo {
    color: var(--color-primary);
    font-weight: bold;
}

.separator {
    font-size: 22px;
    font-weight: 900;
    color: var(--color-button);
}

.amigo-secreto {
    color: green;
    font-weight: bold;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

